.users-information{
    padding: 1rem 3.5rem;
    border-radius: .8rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #fff;
    border-radius: 10px;
}
.users-information .image img{
    height: 100%;
    border-radius: 10%;
}
.image{
    background-color: black;
    padding: 1rem;
}
.user-content{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.user-content *{
    padding: 1rem;
    font-size: 1.3rem;
}
.more-data{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
.back{
    background-color: #6cc644;
    color:#f5f5f5;
    border-radius: 5px;
    font-size:1.3rem;
    padding: 1rem;
    display:inline-block;
    margin: 1rem;
}
.user-repos{
    padding: 1rem 0;
    margin-top: 2rem;
    border-radius: 10px;
}
.repo a{
    color: #6cc644;
}
.repo{
    font-size: 1.5rem;
    border-bottom: 2px solid white;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.repo *{
    padding: .5rem;
}
.more-data a {
    color:#6cc644;
    margin: 0;
    padding: 0;
}